.logo-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffffdd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-img {
  height: 50px;
  object-fit: contain;
}
